#expedia-offers-sports {
    float: left;
    border: 1px black solid;
    height: 120px;
    width: 100%;
    background-image: url('../images/park-panorama.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#expedia-offers-islands {
    float: left;
    border: 1px black solid;
    height: 120px;
    width: 100%;
    background-image: url('../images/islands-panorama.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#expedia-offers-holyland {
    float: left;
    border: 1px black solid;
    height: 120px;
    width: 100%;
    background-image: url('../images/holy-land-panorama.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#expedia-offers-olympics {
    float: left;
    border: 1px black solid;
    height: 120px;
    width: 100%;
    background-image: url('../images/olympics-stadium-panorama.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


